body{
	background-color: yellow;
}
table{
	background-color: white;
	margin-right: 16px;
}

#logo{
	position:relative;
		right: 30px;
		bottom: 30px;
}

#login{
	 
   background-color: black; 

}
#titulo{
	color: #ffffff;
}
#campoUsuario{
	color: #ffffff;
}

.jumbotron{
	background-color: black; 
	color: #ffffff;
}

