<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="utf-8"/>
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <link rel="stylesheet" href="css/style.css">
	<title>Hamurabi Livrariar</title>
	

</head>
<body>

<div class="container">
	<div class="row">
		<dir class="col-xs-12">

		<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Hamurabi Livraria" id="logo"  src="images/hamurabi-livraria.png"/>
            </a>

        </div>

        <div class="collapse navbar-collapse col-xs-12" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Quem somos <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Contado</a></li>
        
        <li><a href="Login.html" class="glyphicon glyphicon-lock"></a></li>

        
    </div>

</nav>

<div class="jumbotron" id="titulo">
  <h2>Olá, sejá bem-vindo!</h2>
  <p>Aproveite o nosso acervo</p>
  
</div>



<div class="jumbotron">


<div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Pesquisar</button>
      </span>
    </div>
    <hr/>
  





    <div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr> 
              <th class="text-left col-md-2">Nome</th>
              <th class="text-center col-md-2">Descrição</th>
              <th class="text-right col-md-2">Estado</th>
              <th class="text-center col-md-2">Valor</th>
              <th class="col-md-1 glyphicon glyphicon-search"></th>
            </tr>

            <tbody>
              <td>Hobbit</td>
              <td>Livro muito legal Legal mesmo</td>
              <td>Usado</td>
              <td>29,90</td>
            </tbody>
  </thead>
    
  </table>
</div>
      </div>    

  

		</dir>
	</div>
</div>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>