<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="utf-8"/>
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <link rel="stylesheet" href="css/style.css">
	<title>Hamurabi Livrariar</title>
	

</head>
<body>

<div class="container">
	<div class="row">
		<dir class="col-xs-12">

		<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Hamurabi Livraria" id="logo" src="images/hamurabi-livraria.png" />
            </a>
        </div>

        <div class="collapse navbar-collapse col-xs-12" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Quem somos <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Contado</a></li>
        <li><a href="#">Login</a></li>


        
    </div>

</nav>

<div class="jumbotron">
  <h2>Olá, sejá bem-vindo!</h2>
  <p>Aproveite o nosso acervo</p>
  
</div>

<hr/>


    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Pesquisar</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
<!-- /.row -->

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Livros</a></li>
    <li><a href="#">Vinil</a></li>
    <li><a href="#">Cds</a></li>
    <li><a href="#">Hqs</a></li>
  </ul>
</div>

      <hr/>

    </div>

<dir class="row">
	   		<table class="table table-bordered table-striped">
	   		<hr/>
	   			<thead>
	   				<tr>
	   					
	   					<th class="text-left col-md-2">Nome</th>
	   					<th class="text-center col-md-2">Descrição</th>
	   					<th class="text-right col-md-2">Valor</th>
	   					<th class="text-center col-md-2">Estado</th>
	   					<th class="col-md-1 glyphicon glyphicon-search"></th>
	   				</tr>
	   			</thead>

          <tbody>
            <tr th:each="titulo : ${titulos}">
              <td class="text-center" th:text="${titulo.codigo}">1</td>
              <td th:text="${titulo.descricao}"></td>
              <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
              <td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
              <td class="text-center">
                <span class="label" th:text="${titulo.status.descricao}"
                  th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
              </td>
              <td class="text-center">
                <a class="btn btn-link btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" 
                    title="Editar" rel="tooltip" data-placement="top">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                    th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
                    title="Excluir" rel="tooltip" data-placement="top">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum título foi encontrado</td>
            </tr>
          </tbody>
        </table>
      </div>

	   			</table>
	   			</dir>

  

		</dir>
	</div>
</div>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>